<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a car</title>
</head>
<body>
    <h1>Add New Car</h1>

<form action="/Cars" method="POST">
  <input name="make" placeholder="Make" required />
  <input name="model" placeholder="Model" required />
  <input name="year" placeholder="Year" />
  <input name="image" placeholder="Image URL" />
  <button>Create</button>
</form>
    <a href="/Cars/">Back to all cars</a>
</body>
</html>


